/* BREAKPOINT 
 (0px)    ->  (640px)
 sm
 (641px)  ->  (768px)
 md
 (769px)  ->  (1024px)
 lg
 (1025px) ->  (1280px)
 xl
 (1281px) ->  (1536px)
 2xl
 (1537px) ->   Above
*/




@media (max-width:768px){
    /* ======= HEADER SECTION ======== */
    .slide .slide-img{
        height: 100%;
    }
    .slide .slide-text p.slide-sub-heading{font-size: 1.2rem;}
    .slide .slide-text h1.slide-heading{font-size: 2.3rem;}
    .slide .slide-text h1.slide-heading span{font-size: 1.8rem;}
    .slide .slide-text  #slide-shopLink{padding: .7rem 1rem;}
}

@media (max-width:640px){
    /* ======= HEADER SECTION ======== */
    .slide .slide-text p.slide-sub-heading{font-size: 1rem;}
    .slide .slide-text h1.slide-heading{font-size: 2rem;}
    .slide .slide-text h1.slide-heading span{font-size: 1.4rem;}
    .slide .slide-text  #slide-shopLink{
        font-size: .9rem;
        padding: .4rem .5rem;}
}


/* WATCH MIN */
@media (min-width:1024px){
    /* ======= TOP CATEGORIES SECTION ======== */
    .tp-cat-box {
        border-right: 1px solid rgba(128, 128, 128, 0.804);
    }
    .tp-cat-box:last-child{
        border:none;
    }
}


@media (max-width:1537px){
    .sm\:container {
        max-width: calc(100% - 5%);
    }
}